@import "vars.scss";
@import "null.scss";
@import "iconfont.scss";

.container {
  width: 1032px;
  margin: 0 auto;
  padding: 1em;
}

.link {
  padding: .3em .5em;
  font-size: 1.3rem;
  border-bottom: 2px solid inherit;
  a {
    color: $primary-color;
  }
}

